{{#paper-toolbar}}
<h1>Contact Manager</h1>
{{/paper-toolbar}}
<div class="layout-row flex">
	<div class="layout-column flex-90"></div>
	<div class="layout-column flex-10">
		<LinkTo class="right" @route="new">{{#paper-button raised=true primary=true}}<div class="right">NEW</div>{{/paper-button}}</LinkTo>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th><b>First Name</b></th>
			<th><b>Last Name</b></th>
			<th><b>Address</b></th>
			<th><b>Phone number</b></th>
		</tr>
	</thead>
	{{#each this.model as |result|}}
		<tr>
			<td><LinkTo @route="show" @model={{result}}>{{paper-icon "perm-identity"}}{{result.first_name}}</LinkTo></td>
			<td><LinkTo @route="show" @model={{result}}>{{result.last_name}}</LinkTo></td>
			<td><LinkTo @route="show" @model={{result}}>{{paper-icon "map"}}{{result.address}}</LinkTo></td>
			<td><LinkTo @route="show" @model={{result}}>{{paper-icon "local_phone"}}{{result.phone_number}}</LinkTo></td>
		</tr>
	{{/each}}
</table>	
<br/>
{{outlet}}